.portfolio-header{

  display: inline-flex;

  .protfolio-avatar {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    margin-left: 50px;
    margin-top: 20px;
  }

  .portfolio-name {
    font-size: 80px;
    margin-top: 100px;
    margin-left: 100px;
    font-family:monospace;
  }

}

.portfolio-intro {
  font-size: 20px;
  font-family:monospace;
}

.main {
  text-align: center;
}

.portfolio-section {
  background-color: #2B65EC;
  color: white;
  margin-top: 20px;
  height: 50px;
  font-size: xx-large;
}

.section-title {
  float: left; 
  margin-left: 50px;
  margin-top: 5px;
  font-family:monospace;
}

.section-status {
  float: right;
  margin-right: 60px;
  margin-top: 5px;
}

.portfolio-footer {
  background-color: #2B65EC;
  margin-top: 30px;
  display: inline-flex;
  width: 100%;

  .img-div {
    width: 33%;
    height: 100px;
  }

  .linkedin {
    height: 100px;
    width: 33%;
    margin-left: 30%;
    margin-right: 30%;
  }

  .github {
    height: 100px;
    width: 33%;
    margin-left: 30%;
    margin-right: 30%;
  }

  .leetcode {
    height: 70px;
    width: 33%;
    margin-top: 10px;
    margin-left: 30%;
    margin-right: 530%;
  }
}
